.ContentList{

    .none{
        display: none;;
    }

    .content-item{
        padding: 10px 0;

        .price{
            text-align: right;
            
        }
        .users{
            text-align: right;
            font-size: 14px;
            color: #666;
        }
    }


    .content-item:nth-child(n){
        border-bottom: 1px solid #ddd;
    }
    .content-item:first-child{
        border-bottom: 1px solid #ddd;
    }
    .content-item:last-child{
        border-bottom: none;
    }

    
    .content-button{
        padding-top: 10px;
        text-align: center;
    }

    .content_input_box{
        margin: 10px 0;

        
        .sub_content_list{
            margin: 10px 0;

            .sub_title{
                padding: 5px 0;
            }

            input[type="text"]{
                border: none;
                background-color: #C2D7F257;
                width: calc(100% - 20%);
            }
        }

        .add_btn{
            text-align: center;
        }
        

    }
}