.Template{
    margin:1rem;
    padding: 1rem;

    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .title{
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.calculate-button{
    font-size: 18px;
    color: #FFF;
    background-color: #6089BF;
    margin: 1rem;
    padding: 10px;
    width: calc(100% - 2rem);
    border: none;
    border-radius: 5px;
}