table{
    width: 100%;

    th{
        border-bottom: 1px solid #d9d9d9;
    }

    .total_price{
        td{
            border-top: 1px solid #6089BF;
            font-weight: 600;
        }
    }
}