$mainColor :#6089BF;

.UserList{

    svg{
        font-size: 2.5rem;
        color: $mainColor;
    }


    .user_input_box{
        margin: 10px 0;
        display: flex;


        input[type="text"]{
            border: none;
            background-color: #C2D7F257;
            width: calc(100% - 20%);
            padding: 5px;
            border-radius: 5px;
        }

        .add_btn{
            flex: 1;
            text-align: center;
        }

    }

}